.root{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.form{
  width: 30%;
  .incitingText{
    color: #1900D5;
    margin-left: 10px;
    cursor: pointer;
  }
}